
.checkout-modal {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: inherit;
    width: 400px;
    position: fixed;
    background: white;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 2;
    transition: top 1.5s ease; 
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.4);
}

.bg-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.checkout-modal-top {
    top: 50%; 
    /* transition: 2s ease;  */
}

.checkout-ul {
    max-height: 270px;
    overflow-y: auto;
    
}
.checkout-ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
    /* color: skyblue; */
}

.checkout-ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(103, 205, 255, .7);
    /* -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5); */
}
.checkout-item {
    display: flex;
    height: 90px; 
    align-items: center;
}
.checkout-image {
    width: 60px;
    height: 70px;
    margin: 5px;
    margin-left: 15px; 
    background-color: gray;
    flex: 1;
    object-fit: cover;
}
.checkout-item-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 1.4;
    margin-left: 10px;
}
.c-i-name {
    font-size: 1em; 
    color: blue; 
    text-align: left; 
}
.c-i-cost {
    font-size: 1.5em;
    color: black;
    text-align: left; 
}
.checkout-quantity {
    display: flex;
    flex: 1; 
}
.co-decriment {
    color: skyblue; 
    cursor: pointer; 
}
.co-num {
    color: gray; 
    margin: 0px 10px;
    font-size: 1.1em;
}
.co-increment {
    color: skyblue; 
    align-self: center;
    cursor: pointer;
}
.checkout-remove {
    color:rgba(100, 200, 255, .9);
    margin-right: 20px; 
    cursor: pointer; 
}
.checkout-total {
    border-top: 2px dashed rgba(135, 205, 255, 0.3);
    padding: 25px;
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    color: lightblue;
}
.checkout-button {
    background-color: skyblue;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    font-size: 2.1em;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer; 
}
